{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}

    {{ parent() }}

    <li>
        <a href="{{site.uri.public}}/members"><i class="fa fa-rocket fa-fw"></i> <span>Miembros!</span></a>
    </li>
{% endblock %}